.cart{
	margin: 0px auto;
}
.cart > input{
	width: 100%;
	margin-bottom: 10px;
}
.imageLine{
	width: 
	float: left;
}
.myCart{
	margin: 5px auto;
	border: 1px solid #80808066;
	background-color: white;
	width: 100%;
}
.myCart > p{
	float: left;
	margin: 0px 5%;
}
.row1{
	width: 20%;
}
.col1{
	width: 20%;
	padding: 5px;
}
.col2{
	padding-left: 25px;
}
.col4 > input{
	width: 40%;
	text-align: center;
}
.col5 {
	width: 10%;
	text-align: center;
}
.info-customer > input{
	width: 100%;
}
	margin-bottom: 10px;
	width: 100%;
}
.info-customer > p{
	margin-bottom: 0px;
}
.info-customer{
	background-color: white;
	border: 1px solid #80808066;
	padding: 5px;
}
.info-customer > table {
	width: 100%;
}
.deleteRow{
	width: 30%;
}
.error-msg {
	font-size: 90%;
	font-style: italic;
	color: red;
}