<nav class="navbar navbar-expand-md navbar-light menu">
  <a class="navbar-brand home-item" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav menu-ul">
      <li class="nav-item menu-item">
        <a class="nav-link" href="#">Wedding Car</a>
      </li>
      <li class="nav-item menu-item">
        <a class="nav-link" href="#">Travel Car</a>
      </li>
      <li class="nav-item menu-item">
        <a class="nav-link" href="#">Hire by Day</a>
      </li>    
    </ul>
  </div>  
</nav>